{% extends 'index.html'%}

{% load static %}

{% block content %}
<style>
	@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    background-color: #eee;
    font-family: 'Calibri', sans-serif !important;
}

.mt-100{
   margin-top:100px;

}


.card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
    box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
}

.card .card-header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px;
    border-bottom: 1px solid #f6f7fb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
x


.card .card-body {
    padding: 30px;
    background-color: transparent;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
    background-color: #bd0202af!important;
    border-color: #a70000a5!important;
}
</style>

	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
						<form action="{%url 'search' %}"method="post">
						{% csrf_token %}
  
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords" name="search" >
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->


	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	{% if pid.count == 0 %}

	<div class="container-fluid  mt-100">
		<div class="row">
		
		   <div class="col-md-12">
		   
				<div class="card">
					<div class="card-header">
							<h5>Cart</h5>
					</div>
					<div class="card-body cart">
						<div class="col-sm-12 empty-cart-cls text-center">
							<img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
							<h3><strong>Your Cart is Empty</strong></h3>
							<h4>Add something to make me happy :)</h4>
							<a href="{% url 'shop'%}" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
										
									
						</div>
					</div>
				</div>
			   
		   
			   </div>
		
		</div>
	   
	</div>
	{% else %}
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">

									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total</th>
									<th class="product-remove">Remove</th>

								</tr>
							</thead>
							<tbody class="align-middle">
								{% for i in pid %}
								<tr>
									<td class="align-middle"><img src="{{i.image.url}}" alt="" style="width: 50px;"> </td>
									<td class="align-middle">{{i.product_name}}</td>
									<td class="align-middle">${{i.price}}</td>
									<td class="align-middle">
										<div class="input-group quantity mx-auto"  style="width: 100px;">
											<div class="input-group-btn">
												<a href="{% url 'cart_minus' i.id %}" class="btn btn-sm btn-primary btn-minus">
													<i class="fa fa-minus"></i>
												</a>
											</div>
											<input type="text" class="form-control form-control-sm bg-secondary text-center" value="{{i.quantity}}" readonly>
											<div class="input-group-btn">
												<a href="{% url 'cart_plus' i.id %}" class="btn btn-sm btn-primary btn-plus">
													<i class="fa fa-plus"></i>
												</a>
											</div>
										</div>
										
									</td>
									<td class="align-middle">${{i.total}}</td>
									<td class="align-middle"><a href="{% url 'cart_delete' i.id %}"><i class="fa fa-times"></i></a></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>Subtotal: </strong></td>
									<td>${{subtotal}}</td>
								</tr>
								<tr class="total-data">
									<td><strong>Shipping: </strong></td>
									<td>${{shipping}}</td>
								</tr>
								<tr class="total-data">
									<td><strong>Total: </strong></td>
									<td>${{total}}</td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							<a href="{% url 'cart' %}" class="boxed-btn">Update Cart</a>
							<a href="{% url 'checkout' %}" class="boxed-btn black">Check Out</a>
						</div>
					</div>

					<div class="coupon-section">
						<h3>Apply Coupon</h3>
						<div class="coupon-form-wrap">
							<form action="{% url 'index' %}">
								<p><input type="text" placeholder="Coupon"></p>
								<p><input type="submit" value="Apply"></p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<!-- end cart -->

	<!-- logo carousel -->
<div class="logo-carousel-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="logo-carousel-inner">
					<div class="single-logo-item">
						<img src="{% static 'assets/img/company-logos/1.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/company-logos/2.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/company-logos/3.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/company-logos/4.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'assets/img/company-logos/5.png' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end logo carousel -->
	{% endblock %}

	